/* Color scheme */
/* Pale Gold: #C0B283 */
/* SILK : #DCD0C0 */
/* PAPER :#F4F4F4 */
/* CHARCOAL : #373737 */

#header {
    background-color: #C0B283 ;
    color :white;
    text-align: center;

    border-style: solid;
    border-width: medium;
    border-color: #DCD0C0;
}

body {
    background-color: #F4F4F4 ;
}

#container {
    background-color: #1b1d1c ;
    margin-left: auto ;
    margin-right: auto;
}
#main {
    background-color: #FFFF00 ;
    padding: 10px ;
}
#Nav {
    padding: :10px ;
}
#footer {
    background-color: #C0B283 ;
    color :white;
    text-align: left;

    border-style: solid;
    border-width: small;
    border-color: #DCD0C0;
}
